  <div style="border:3px solid rgb(59, 48, 48); margin: 50px 10px">
    <div class="row" style="margin: 10px;">
      {{ sectionName }}
    </div>
    <div class="row" style="margin:10px">
      <table border="3">
        <colgroup id="colgroup1">
            <col id="collAnd2" span="2"/>
            <col id="col3"/>
        </colgroup>
        <colgroup id="colgroup2" span="2"></colgroup>
        <thead>
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Color</th>
                <th colspan="2">Size & Votes</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Rank Footer</th>
                <th>Name Footer</th>
                <th>Color Footer</th>
                <th colspan="2">Size And Votes Footer</th>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <th>Favorite:</th>
                <td>XML</td>
                <td>CSS</td>
                <td>Java</td>
                <td>IOS</td>
            </tr>
            <tr>
                <th>2nd Favorite:</th>
                <td>Web</td>
                <td>HTML5</td>
                <td>CS</td>
                <td>460</td>
            </tr>
        </tbody>
      </table>
    </div>

  </div>
